@import "reset";
@import "vars/globals.var";
@import "themes/dark";
@import "themes/light";

.page-header {
	margin-top: 50px;
	margin-left: 100px;

	font-size: 50px;
}

.app {
	min-height: 100vh;

	background: var(--bg-color);

	color: var(--primary-color);
	font: var(--font-m);
}

.page-container {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}
