@import "reset";
@import "vars/globals.var";
@import "themes/dark";
@import "themes/light";

.page-header {
	margin-top: 50px;
	margin-left: 100px;

	font-size: 50px;
}

.app {
	min-height: 100vh;

	background: var(--bg-color);

	color: var(--primary-color);
	font: var(--font-m);
}

.stories-container,
.simple-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 500px !important;

	padding: 20px;
}

.simple-bg {
	border-radius: 30px;

	background-color: var(--inverted-bg-color) !important;
}

.switch-right-button {
	margin-left: 20px;
}

.page-container {
	display: flex;
}

.full-height {
	height: 100vh !important;
}

.page-wrapper {
	flex-grow: 1;
	height: calc(100vh - var(--header-height));
	padding: 20px;
}
