.LoginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 500px;
}

.label {
	margin-top: 20px;

	&:first-child {
		margin-top: 0;
	}
}

.submitBtn {
	width: 100%;

	max-width: 100px;
	margin-top: 20px;

	border-radius: 10px;
}
