@import "~normalize.css/normalize.css";

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button {
	margin: 0;
	padding: 0;

	border: none;

	background: none;

	font-size: inherit;

	line-height: inherit;

	&:disabled {
		opacity: 1;

		color: inherit;
	}
}

code,
pre {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
