@import "reset";
@import "vars/globals.var";
@import "themes/dark";
@import "themes/light";
@import "themes/green";

.page-header {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;

	font-size: 50px;
}

.app {
	min-height: 100vh;

	background: var(--bg-color);

	color: var(--primary-color);
	font: var(--font-m);
}

.stories-container,
.inverted-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 800px;
	height: 800px !important;

	padding: 20px;
}

.inverted-bg {
	border-radius: 30px;

	background-color: var(--inverted-bg-color) !important;
}

.page-container {
	display: flex;
}

.full-height {
	height: 100vh !important;
}

.page-wrapper {
	flex-grow: 1;
	width: 100%;
	height: calc(100vh - var(--header-height));
	padding: 20px 20px 20px 50px;
	overflow: auto;
}
