.Button {
	border: none;
	outline: none;

	font-size: 20px;

	cursor: pointer;
}

.inverted-clear,
.clear {
	background: none;

	color: var(--primary-color);
}

.inverted-clear {
	color: var(--inverted-color);
}

.outline,
.inverted-outline {
	padding: 10px;

	border: 3px solid var(--primary-color);

	background: none;

	color: var(--primary-color);
}

.inverted-outline {
	border-color: var(--inverted-color);

	color: var(--inverted-color);
}

.primary,
.inverted-primary {
	padding: 10px;

	background-color: var(--primary-color);

	color: var(--inverted-color);
}

.inverted-primary {
	background-color: var(--inverted-color);

	color: var(--primary-color);
}

.background,
.inverted-background {
	padding: 10px;

	background-color: var(--bg-color);

	color: var(--primary-color);
}

.inverted-background {
	background-color: var(--inverted-bg-color);

	color: var(--inverted-color);
}
