.SideBar {
	position: relative;
	width: var(--side-bar-width);
	height: calc(100vh - var(--header-height));

	transition: width 0.3s;

	background-color: var(--inverted-bg-color);
}

.collapsed {
	width: var(--side-bar-width-collapsed);
}

.toggle-button {
	display: block;
	width: 100%;
	max-width: 150px;
	height: 50px;
	margin: 20px auto 0;
}

.switchers {
	display: flex;
	position: absolute;
	bottom: 20px;
	align-items: center;
	justify-content: center;
	width: 100%;
}
