.Input {
	display: block;

	width: 100%;

	padding: 5px 15px;

	border: none;

	outline: none;

	background: none;

	font: var(--font-l);
}

.readOnly {
	opacity: 0.7;
}

.label {
	display: block;

	width: 100%;

	color: var(--primary-color);

	font: var(--font-m);

	.Input {
		margin-top: 5px;
	}
}

.label.inverted {
	color: var(--inverted-color);
}

.label.error {
	color: var(--red);
}

.clear {
	border: none;

	color: var(--primary-color);
	caret-color: var(--primary-color);
}

.clear.error {
	color: var(--red);
	caret-color: var(--red-dark);
}

.clear.inverted {
	color: var(--inverted-color);
	caret-color: var(--inverted-color);
}

.outline {
	border: 2px solid var(--primary-color);

	border-radius: 7px;

	color: var(--primary-color);
	caret-color: var(--primary-color);
}

.outline.error {
	border-color: var(--red-dark);

	color: var(--red);
	caret-color: var(--red-dark);
}

.outline.inverted {
	border-color: var(--inverted-color);

	color: var(--inverted-color);
	caret-color: var(--inverted-color);
}
