.CommentCardSkeleton {
	width: 100%;
	padding: 20px;

	border: 1px solid var(--primary-color);
	border-radius: 10px;
}

.header {
	display: flex;
	align-items: center;
}

.title {
	margin-left: 15px;
}

.text {
	margin-top: 20px;
}
