.Button {
	border: none;
	outline: none;

	background: none;

	color: var(--primary-color);
	font-size: 20px;

	cursor: pointer;
}

.clear {
	background: none;
}

.outline {
	padding: 10px;

	border: 3px solid var(--primary-color);
}

.primary {
	padding: 10px;

	background-color: var(--primary-color);

	color: var(--inverted-color);
}

.background {
	padding: 10px;

	background-color: var(--bg-color);

	color: var(--primary-color);
}

.inverted-background {
	padding: 10px;

	background-color: var(--inverted-bg-color);

	color: var(--inverted-color);
}
