.Button {
	border: none;
	outline: none;

	font-size: 20px;

	cursor: pointer;
}

.disabled {
	opacity: 0.5;

	pointer-events: none;
}

.clear {
	background: none;

	color: var(--primary-color);
}

.inverted.clear {
	color: var(--inverted-color);
}

.outline {
	padding: 10px;

	border: 3px solid var(--primary-color);

	background: none;

	color: var(--primary-color);
}

.inverted.outline {
	border-color: var(--inverted-color);

	color: var(--inverted-color);
}

.primary {
	padding: 10px;

	background-color: var(--primary-color);

	color: var(--inverted-color);
}

.inverted.primary {
	background-color: var(--inverted-color);

	color: var(--primary-color);
}

.background {
	padding: 10px;

	background-color: var(--bg-color);

	color: var(--primary-color);
}

.inverted.background {
	background-color: var(--inverted-bg-color);

	color: var(--inverted-color);
}
