.link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.link-icon {
	margin-right: 20px;

	font-size: var(--font-size-l);
}

.link-icon-collapsed {
	margin-right: 0;

	font-size: var(--font-size-xl);
}
