//noinspection CssUnusedSymbol
.app.dark {
	--bg-color: #090949;
	--select-bg-color: #0a0a34;
	--inverted-bg-color:  #e8e8ea;

	--primary-color: #04ff04;
	--secondary-color: #049604;
	--inverted-color: #073dd3;

	--switch-color: #0115C6;
}