//noinspection CssUnusedSymbol
.app.light {
	--bg-color: #e8e8ea;
	--select-bg-color: #c6daf5;
	--inverted-bg-color:   #090949;

	--primary-color: #073dd3;
	--secondary-color: #041c65;
	--inverted-color: #04ff04;


	--switch-color: #FFC700

}