//noinspection ALL,CssUnusedSymbol
.button-switch {
	margin-left: 100px;

	padding: 10px 20px;

	background: none;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);

	cursor: pointer;
}