.Header {
	display: flex;
	align-items: center;
	justify-content: right;
	width: 100%;
	height: var(--header-height);
	padding: 10px 50px;

	background-color: var(--inverted-bg-color);
}

.links {
	display: flex;
	align-items: center;
}

.link {
	margin-right: 20px;

	&:first-child {
		margin-right: 0;
	}
}
