.Drawer {
	display: flex;
	position: fixed;
	z-index: -1;

	align-items: flex-end;

	transition: all 0.4s;

	opacity: 0;

	pointer-events: none;
	inset: 0;
}

.content {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 70%;
	min-height: 100px;
	padding: 20px;

	transform: translateY(100%);

	transition: transform 0.3s;

	border-top-left-radius: var(--large-br);
	border-top-right-radius: var(--large-br);

	background: var(--bg-color);
}

.opened {
	z-index: var(--z-index-modal);

	opacity: 1;

	pointer-events: auto;

	.content {
		transform: translateY(0%);
	}
}
