.app-green-theme {
	--bg-color: #f4fbf6;
	--select-bg-color: #d8f5dd;
	--inverted-bg-color: #104422;
	--primary-color: #0e2108;
	--inverted-color: #f4fbf6;
	--switch-color: #f4fbf6;

	// Skeleton
	--skeleton-shadow: #226f3c;
	--skeleton-color: #d8f5dd;

	// code
	--code-bg: #e8f8e9;
}
