//noinspection CssUnusedSymbol
.links-list {
	display: flex;
	align-items: center;

	width: 100px;

	margin: 0 auto;

	padding: 50px 10px;
}

.link {
	margin-left: 20px;

	font-size: 30px;

	&:first-child {
		margin-left: 0;
	}
}