:root {
	// fonts
	--font-family-main: consolas, "Times New Roman", serif;

	// s
	--font-size-s: 12px;
	--font-line-s: 28px;
	--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

	// m
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

	// L
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

	// XL
	--font-size-xl: 42px;
	--font-line-xl: 40px;
	--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	// width height
	--header-height: 100px;
	--side-bar-width: 400px;
	--side-bar-width-collapsed: 150px;

	// overlay
	--overlay: rgb(0 0 0 / 50%);

	// z-index
	--z-index-modal: 1000;
	--z-index-overlay: 900;
	--z-index-profile-card-container: 50;
	--z-index-sidebar-button: 70;

	// red-color
	--red: #f81515;
	--red-dark: #af0e0e;

	// size-image
	--small-img: 50px;
	--middle-img: 150px;
	--large-img: 300px;

	// border-radius
	--small-br: 10px;
	--medium-br: 15px;
	--large-br: 20px;
}
