.ArticleItemPlate {
	width: 100%;
	max-width: 250px;
	height: 312px;

	overflow: hidden;

	cursor: pointer;
}

.date {
	position: absolute;
	top: 10px;
	right: 10px;
	max-width: 100px;

	text-align: right;
}

.img {
	width: 120%;
	height: 120%;
	object-fit: cover;

	&-wrapper {
		height: 100%;
		max-height: 200px;
		overflow: hidden;
	}
}

.content {
	margin-top: 10px;
}

.views {
	&-text {
		width: auto;
	}

	&-icon {
		width: 20px;
		height: 23px;
	}
}

.types {
	width: 100%;
	max-width: 120px;

	&-text {
		overflow: hidden;

		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
