.ProfileCard {
	position: relative;
	width: 100%;
	max-width: 600px;
	padding: 20px;

	border: 3px solid var(--primary-color);
	border-radius: 10px;
}

.readOny {
	border-style: dotted;
}

.container {
	display: flex;
	position: absolute;

	z-index: var(--z-index-profile-card-container);
	flex-direction: column;

	align-items: center;
	justify-content: center;

	inset: 0;
}

.btn-container {
	display: flex;
}

.title {
	text-transform: capitalize;
}

.input {
	margin-top: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.save {
	margin-left: 20px;
}

.reload {
	margin-top: 20px;
}

.opacityZero {
	opacity: 0;
}

.selects {
	display: flex;
	margin-top: 20px;
}

.selectCountry {
	margin-left: 20px;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
