.Header {
	display: flex;
	align-items: center;
	justify-content: right;

	width: 100%;
	height: var(--header-height);


	padding: 10px 50px;

	background-color: var(--inverted-bg-color);
}

.link-list {
	display: flex;
	align-items: center;
}

.link {
	margin-left: 20px;

	&:first-child {
		margin-left: 0;
	}
}