.AppLink {
	display: block;
}

.primary,
.outline {
	font-size: var(--font-size-l);

	.hover-link {
		&:hover {
			opacity: 0.8;
		}
	}
}

.primary {
	color: var(--primary-color);
}

.outline {
	padding: 0 20px;

	border: 1px solid var(--primary-color);
	border-radius: var(--small-br);

	color: var(--primary-color);
	line-height: 30px;
}

.primary.inverted {
	color: var(--inverted-color);
}

.outline.inverted {
	border-color: var(--inverted-color);

	color: var(--inverted-color);
}

.clear {
	font: inherit;
}
