.AppLink {
	color: var(--primary-color);
	font-size: 30px;
}

.hover-link {
	&:hover {
		opacity: 0.8;
	}
}

.primary {
	color: var(--primary-color);
}

.primary.inverted {
	color: var(--inverted-color);
}
